* {
    border: 0;
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 60px;
    font-weight: bold;
}

#title {
    display: flex;
    width: 25vw;
    justify-content: space-between;
}

#title p {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
}
  

/**/

#crown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**/

#pitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

/**/

#hall-of-fame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hall-of-fame p {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#champion {
    height: 250px;
    width: auto;
    transition: filter 1s ease-in-out;
}

#champion:hover {
    filter: invert(1);
}

.crown {
    margin-top: 50px;
    opacity: 0;
}

#champion:hover + .crown {
    transition: margin-top 1s ease-in-out 1s, opacity 2s ease-in-out 1s;
    opacity: 1;
    margin-top: 0;
}